In [1]:
Ques1. Explain with an example each when to use a for loop and a while loop.

In [1]:
A for loop is used when we have to iterate over an array or a list due to its indexing.

In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
A while is used when the number of iterations are not defined like writing in a file from a database connected with embeeded sql which fetch data into an cursor which further written in a file.

In [3]:
i = 0
while(i<10):
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [5]:
#Using For loop
sum = 0
product = 1
for i in range(1,11):
    sum = sum+i
    product = product*i
    
print("sum of 10 natural nos are:",sum)
print("product of 10 natural nos are:",product)

sum of 10 natural nos are: 55
product of 10 natural nos are: 3628800

In [6]:
#Using while loop
sum = 0
product = 1
i = 1
while(i<11):
    sum = sum+i
    product = product * i
    i = i+1
print("sum of 10 natural nos are:",sum)
print("product of 10 natural nos are:",product)

sum of 10 natural nos are: 55
product of 10 natural nos are: 3628800

In [ ]:
Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [9]:
units = int(input('Enter Units: '))
bill = 0
if units <= 100:
    bill += 4.5*units
    units -= 100
elif units > 100 and units <= 200:
    bill += 450
    units -= 100
    bill += 6*units
elif units > 200 and units <= 300:
    bill += 450+600
    units -= 200
    bill += 10*units
elif units > 300:
    bill += 450+600+1000
    units -= 300
    bill += 20*units
print('Total Electricity Bill Rs.{}',bill)

Enter Units:  310

Total Electricity Bill Rs.{} 2250

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list

In [22]:
#for loop
l = list(range(1,101))

newlist =[]

for i in l:
    c= i**3
    if c %4 ==0 or c%5==0:
        newlist.append(i)
print(newlist)

TypeError: 'list' object is not callable

In [20]:
#while loop
newlist2 =[]
i =1
while i <= len(l):
    c = i**3
    if c%4 ==0 or c%5 ==0:
        newlist2.append(i)
    i+=1
print(newlist2)

NameError: name 'l' is not defined

In [ ]:
Q5.  Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [17]:
sts = str(input("Enter the input"))
vowels = 'aeiouAEIOU'
count=0
for char in sts:
    if char in vowels:
       count+=1
print(count)

Enter the input "I want to become a data scientist"

12