Consider following code to answer further questions:

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans > loc is a label-based indexing method that is used to access rows and columns by labels or boolean arrays. The syntax of the loc method is df.loc[row_labels, column_labels]. Here, row_labels and column_labels refer to the row and column labels, respectively. loc returns a DataFrame that matches the specified labels.

iloc on the other hand, is an integer-based indexing method that is used to access rows and columns by integer position. The syntax of the iloc method is df.iloc[row_positions, column_positions]. Here, row_positions and column_positions refer to the integer positions of the rows and columns, respectively. iloc returns a DataFrame that matches the specified integer positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [4]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc: Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

new_df.iloc: new_df.iloc[2] returns the row that has the integer position 2 in the index.

Consider the below code to answer further questions:

In [14]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [10]:
average = []
for column_element in list(df1.columns):
    average.append(df1[column_element].mean())
    
print(f"Mean of each column: {average}")
print(f"Standard Deviation of column_2: {df1['column_2'].std()}")

Mean of each column: [0.5238947737258625, 0.6017781342406691, 0.5100145244504038, 0.28280104418316976, 0.8123452633478268, 0.4709890880629168]
Standard Deviation of column_2: 0.3697640664896896

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [15]:
df1['column_2'].loc[3] = 'string_value'

In [16]:
df1

   column_1      column_2  column_3  column_4  column_5  column_6
1  0.446171      0.313965  0.333443  0.587223  0.006132  0.865019
2  0.645063      0.220514  0.391769  0.601695  0.527299  0.736593
3  0.565576  string_value  0.872910  0.573333  0.162303  0.179595
4  0.916133      0.617393  0.381254  0.617073  0.752707  0.030419
5  0.848811      0.144968  0.903235  0.348237  0.806042  0.373573
6  0.826479      0.298889  0.828618  0.770248  0.237116  0.452727

In [18]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The error is generated because one of the elements in the column is non-numeric (string), and while finding the mean the program is trying to add that string numeric value of the column, which is not possible

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

The types of window functions available in pandas can be broadly classified into the following categories:

Rolling functions: These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

Expanding functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

Exponentially weighted functions: These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

Cumulative functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

Aggregating functions: These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [20]:
date_dict = {'Date' : ['2023-04-29']}
df = pd.DataFrame(date_dict)
df

         Date
0  2023-04-29

In [21]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
df

        Date
0 2023-04-29

In [26]:
df['Date'].dt.month

0    4
Name: Date, dtype: int64

In [23]:
df['Date'].dt.year

0    2023
Name: Date, dtype: int64

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [6]:
start_date = input("Enter your start date")
end_date = input("Enter you end date")
days_in_between = pd.date_range(start = start_date, end = end_date)
difference = pd.Timedelta(days = len(days_in_between))
print(f"The difference is {difference}")

Enter your start date 2023-04-12
Enter you end date 2023-04-16

The difference is 5 days 00:00:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [25]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [26]:
filepath = input('Enter the filepath: ')
column = input('Enter the column name: ')
order = input('Enter category order: ')

df = pd.read_csv(filepath)

df[column].astype('category')

if order=='ascending':
    df=df.sort_values(by = column, ascending= True)
elif order=='descending':
    df=df.sort_values(by = column, ascending= False)

df

Enter the filepath:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name:  Pclass
Enter category order:  ascending

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path = input("Enter the path of file: ")
df = pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

The program should do the following:


1.Prompt the user to enter the file path of the CSV file containing the student data

2.Read the CSV file into a Pandas DataFrame

3.Calculate the mean, median, and mode of the test scores using Pandas tools

4.Display the mean, median, and mode in a table.

In [ ]:
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

mean = df['Test_Score'].mean()
median = df['Test_Score'].median()
mode = df['Test_Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")